<!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->
<div class="container">
  <div class="row text-center" style="background-color: blue; height: 25%;">
    <div class="col">
    </div>
    <marquee style="color: #ffffff;">This is basic example of marquee</marquee>
  </div>
  <div class="row" style="height: 75%;">
    <div class="col-50">
      <div class="row" style="background-color:darkgrey; width: 100%; height: 50%; margin-left: 0px;">
        <div class="chart-wrapper" style="width: 100%; height: 50%; margin-left: 0px;">
          <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
            [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
          </canvas>
        </div>
      </div>
      <div class="row" style="background-color:darkgoldenrod; width: 100%; height: 50%; margin-left: 0px;">
        OTIF
      </div>
    </div>
    <div class="col-50" style="background-color:#ffffff;">
      <div class="row h-100">
        <div class="col-sm-12 my-auto">
          <p class="text-center align-middle">3,590 Days Saved</p>
        </div>
      </div>
    </div>
  </div>
</div>
